*{
    font-family: 'Arial';
}

.daycard{
    font-size: 25px;
    width:200px;
    margin:10% 5% 10% 0;
    min-width: 200px;
    padding:5%;
    border:solid grey 1px;
    border-radius: 10%;
    padding-bottom: 30px;
    background-color: #fcfcfc;
    cursor:pointer;
}

.daycard:hover{
    box-shadow: 5px 5px 10px 2px #888888;
}

.humid{
    font-size: 15px;
}